extends layout

block content
  h1= title

  if error
    p.error= error

  p Share your thoughts about our donuts below.

  form.comments-form(method='post' action='/comments')
    label(for='name') Name:
    input(type='text' id='name' name='name' required value=(form && form.name) )
    label(for='comment') Comment:
    textarea(id='comment' name='comment' required)= (form && form.comment) || ''
    button(type='submit') Submit Comment

  if items && items.length
    h2 Recent comments
    ul.comments-list
      each item in items
        li.comments-list__item
          strong= item.name
          p= item.comment
          span.comments-list__date= item.created_at
  else
    p No comments are available yet.
